<form [formGroup]="heroForm" (ngSubmit)="onSubmit()" class="hero-editor">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" required>
    <mat-error *ngIf="heroForm.get('name')?.hasError('required')">Name is required</mat-error>
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Superpower</mat-label>
    <input matInput formControlName="superpower" required>
    <mat-error *ngIf="heroForm.get('superpower')?.hasError('required')">Superpower is required</mat-error>
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Rank</mat-label>
    <input matInput formControlName="rank" required>
    <mat-error *ngIf="heroForm.get('rank')?.hasError('required')">Rank is required</mat-error>
  </mat-form-field>
  
  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
